{% extends "base.html" %}
{% block content %}
<div class="categoria">
    <h1>Dextraflix - Categorias</h1>
    <form action="." method="post">
        {% csrf_token %}
        {{ video_form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <div class="main-categorias">
        {% for categoria in categories %}
        <p>
            <a href="/videos/{{ categoria.slug }}">{{categoria.name}}</a><br />
            {{ categoria.description }}
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}