{% extends "base.html" %}

{% block extra_style %}
    <style type="text/css">
        .video-form {
            background: #fff;
            width: 400px;
            height: 600px;
            float: right;
            padding: 10px;
            border: 1px solid #ccc;
        }
        .video-form label {
            display: block;
        }
        .video-form .helptext {
            display: block;
            font-size: 0.8em;
        }
        .success {
            color: green;
            text-transform: uppercase;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="home">
        <h1 style="text-align: center">Olá! Este é o Dextraflix!</h1>
        <p style="text-align: center">Todos os vídeos que fazem sentido para você!</p>

        <div class="video-form">
            {% if message %}<p class="success">{{ message }}</p>{% endif %}
            <form action="." method="post">
                {% csrf_token %}
                {{ author_form.as_p }}
                <button type="submit">salvar</button>
            </form>
        </div>

        <div class="main-videos">
            {% for video in videos %}
                <div class="video-list-item">
                    <img src="{{ video.thumbnail }}" class="video-thumb">
                    <strong>
                        <a href="{{ video.url }}" target="_blank">{{ video.name }}</a></strong><br/>
                    <em>Autores: {% for author in video.authors.all %}{{ author.name }}{% endfor %}</em><br/>
                    {{ video.description }}
                </div>
                <hr/>
            {% endfor %}
        </div>
    </div>
{% endblock %}